* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 70%;
    margin: auto;
}

img {
    max-width: 100%;
    height: 80px;
}


header, p{
    text-align: center;
    margin-top: 30px;
}

.clearfix::after {
    content: '';
    display: table;
    clear: both;
}

.row{
    color: white;
    margin-top: 50px;
}

.col{
    width: calc(100% / 3 - 30px);
    float: left;
    background-color: black;
    margin: 10px 10px;
    box-shadow: 0 0 10px white;
    }

.photo{
    float: left;
}

.member_team{
    padding: 10px 10px;
    float: left;
}

#name{
   font-weight: bold;
}

#mail{
    color: cyan;
    font-size: 10px;
}

#role{
    font-weight: lighter;
}

#name, #role, #mail{
    line-height: 20px;
}