/* #region common */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Fredoka One', cursive;
}

main{
    width: 70%;
    margin: auto;
}

img {
    max-width: 100%;
    margin: auto;
}

/* #endregion common */

/* #region utility */

.clearfix::after{
    content: '';
    display: table;
    clear: both;
}

.debug{
    background-color: #E53170;
    border: 2px dashed lightgreen;
}

/* #endregion utility */



footer{
    background-color: #E53170;
    color: #f0f0f0;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 70px;
    text-align: center;
    line-height: 70px;
}
